---
site:
  id: 22c2d77bb4z34b35834ec970c560cc82
  name: default
  thumbnail:
  language: PHP
  version: 0.0.1
  apply-sites: 2
  change-notes:
  description: default
author:
  name: 必须
  wangwang: 必须
  url: http://www.yourwebsite.com

global:
  header: header.json
  footer: footer.json

default_themes: default
themes:
  - name: default
    css: assets/stylesheets/default/extra.css
    thumbnail:

pages:
  - type: index
    name: 首页
    file: index.json
    thumbnail:
    description: 必须
---
= xml_site(@item)