#!/usr/bin/env ruby

### Loading ##########################################################

require "compass"
Compass.add_project_configuration('config.rb')

sass_options = Compass.sass_engine_options

### Compilation rules ################################################

compile '*.css' do
  filter :sass, sass_options.merge(:syntax => item[:extension].to_sym)
end

compile '*' do
  if item.binary?
    nil
  else
      if item.identifier =~ %r(/_[^/]+/$)
        nil
      else
        filter :haml, :escape_attrs => false, :attr_wrapper => '"'
        layout item[:layout] ? item[:layout] : "default"
      end
  end
end

### Routing rules ####################################################

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
      if item.identifier =~ %r(/_[^/]+/$)
        nil
      else
        item.identifier.chop
      end
  end
end

# route '/default/assets/stylesheets/*/' do
#   item.identifier.chop
# end

### Layout rules #####################################################

layout '*', :haml, :escape_attrs => false, :attr_wrapper => '"'
