.tb-module.tshop-um.tshop-um-fw-hn01-01
  .headnav
    .logo
      %a(href="#") Angle img
    .nav
      %ul
        %li
          %a(href="#") Home
        %li
          %a.popup(href="#") Collection
          .J_TWidget.dropmenu{popup(trigger=".popup")}
            %ul
              - (0...3).each do
                %li
                  %a Collection one
        %li
          %a(href="#") Blog
        %li
          %a{phref("$uriManager->shopIntrURI();")} Contact
/ /.tshop-um-fw-nb01-01