.tb-module.tshop-um.tshop-um-fw-hn01-01
  .headnav
    .logo
      %a(href="#") Angle img
    .nav
      %ul
        %li
          %a(href="#") Home
        %li.dropdown
          %a.dropdown-toggle(href="#") Collection
          .J_TWidget.dropdown-menu{popup(x=0, y=-10)}
            %ul
              - (0...3).each do
                %li
                  %a Collection one
        %li
          %a(href="#") Blog
        %li
          %a{phref("$uriManager->shopIntrURI();")} Contact
/ /.tshop-um-fw-nb01-01