
$nav-bg-color: #FF4200;
$all-cats-image: "../../assets/images/cloud-banner.png";

@import "cones";
.tshop-pbsm-shop-nav-ch {
  margin-top: 20px;
//  cleanup default styles ///////////////////////////////////////////
  .all-cats, .all-cats .all-cats-hover, .menu-list, .menu-list .menu-hover {
    .link {
      @include reset-styles;
    }
  }

  .popup-content, .popup-content .popup-inner, .snd-pop, .snd-pop .snd-pop-inner {
    @include reset-styles;
    background-color:#777;
  }

  .popup-content .cats-tree {
    .cat-hd, .cat-hd-hover {
      @include reset-styles;
      &:hover { @include reset-color; }
    }

    .snd-pop-inner { @include reset-styles; }
  }

//  custom styles ////////////////////////////////////////////////////

  .skin-box-bd {
    @include reset-box-model;
    height: 60px;
  }

  .all-cats {
    background-color: $nav-bg-color;
    .link {
      display:block;
      width: 70px;
      height: 60px;
      line-height: 60px;
      text-align:center;
      .title {
        display:none;
        margin: 0;
        float:none;
      }
      .popup-icon {
        display:block;
        float:none;
        margin: 10px 5px;
        width: 60px;
        height: 40px;
        background:transparent url($all-cats-image) -70px -60px no-repeat;
      }
    }
  }

  .all-cats-hover .link .popup-icon {  background-position:-70px -120px;}

  .menu-list {
    @extend .all-cats;
  }

  .popup-content {
//    width: 950px;

    .popup-inner {
//      width: 50%;
    }
  }

}


