
$nav-bg-color: #FF4200;
$all-cats-image: "../../assets/images/custom_bg.png";

@import "cones";
.tshop-pbsm-shop-nav-ch {
//  cleanup default styles ///////////////////////////////////////////
  .all-cats, .all-cats .all-cats-hover, .menu-list, .menu-list .menu-hover {
    .link {
      @include reset-styles;
    }
  }

  .popup-content, .popup-content .popup-inner, .snd-pop, .snd-pop .snd-pop-inner {
    @include reset-styles;
  }

  .popup-content .cats-tree {
    .cat-hd, .cat-hd-hover {
      @include reset-styles;
      &:hover { @include reset-color; }
    }

    .snd-pop-inner { @include reset-styles; }
  }

//  custom styles ////////////////////////////////////////////////////

  .popup-content {
    @extend .all-cats:hover;
    width: 950px;
    min-height: 260px;
    @include border-bottom-radius(3px);

    .popup-inner {
      width: 200px;
    }
  }

  .popup-content .cats-tree {
    .snd-pop {
      background-color:#fff;
      width: 750px;
    }

    .snd-pop-inner {
      width: auto;
      height: auto;
      padding: 0 15px;
    }

    .snd-cat-icon {
      display:none;
    }

    .snd-cat-name {
      width: auto;
      padding: 2px 10px;
    }

    ul.fst-cat-bd {
      @include horizontal-list-container;
      li.snd-cat {
        @include horizontal-list-item(5px, left);
      }
    }
  }

  .all-cats-popup {

  }


  .skin-box-bd {
    @include reset-box-model;
    height: auto;
    border-top: 1px solid #fff;
  }

//  nav links style //////////////////////////////////////////////////
  .all-cats {
    width: 100%;
    margin-bottom: 35px;
    &:hover {
      background-color: #ccc;
    }

    .link {
      display:block;
      background-color: lighten(#cccccc, 8);
      &:hover { background-color: #ccc; }
      @include border-bottom-radius(3px);
      width: 200px;
      height: 40px;
      line-height: 40px;
      text-align:center;
      .title {
//        display:none;
        margin: 0;
        float:none;
      }
      .popup-icon {
        display:none;
        float:none;
        margin: 10px 5px;
        width: 60px;
        height: 40px;
        background:transparent url($all-cats-image) -70px -60px no-repeat;
        background-color:#ccc;
      }

    }
  }

  .all-cats-hover, .all-cats-hover .all-cats-trigger .link {
    @extend .all-cats:hover;
  }
  .all-cats-hover .link .popup-icon {  background-position:-70px -120px;}

  .menu-list {

  }

}


