!!! XML GBK
%module(xsi:noNamespaceSchemaLocation="../../../module.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance")
	%id slideshow
	%name slideshow
	%file slideshow.php
	%thumbnail
	%description
	%requiredCache true
	%parameters
		%param(name="item" label="展示宝贝" description="item" ptype="item" formType="itemForm")