#content {
  background-image:url($content-bg-image) !important;
  background-repeat:repeat !important;
  background-position:0 null !important;
}

#hd {
  background-image:url($hd-bg-image) !important;
  background-repeat:repeat !important;
  background-position:0 null !important;
}