---
module:
  id: <%= filename %>
  name: <%= name.upcase %>
  thumbnail: assets/images/<%= filename %>.png
  description: <%= name.upcase %>
  requiredCache: true
  supportedWidth: 950
  theme: default

themes:
  - name: default

parameters:
---
= xml_module(@item)