---
module:
  id: tshop-um-fw-s01-001
  name: default
  thumbnail:
  requredCache: true
  supportedWidth: 950

description: slideshow

default_themes: default
themes:
  - name: default
    css: assets/stylesheets/default.css

parameters:

---
= xml_module(@item)