@import "cones";
@import "carousel/*.png";
.tshop-um-fw-ss01-01 {
	@include clearfix;
	// @import partials
	@import "carousel";
	.carousel {
		margin: 30px 0;
		max-width: 950px;
		height: 320px;
		background-color:#FFF;

		.carousel-outer {
//			
		}

		.carousel-inner {
			height: 337px;

			.item {
				height: 320px;
				margin: 12px 0 5px 0;
				padding: 0 204px 0 126px;
				background-color:#CCC;
			}

			img {
				position:relative;
				width: 620px;
				padding: 5px 0 4px 0;
				top: -12px;
				left: 0px;
				border-top: 7px solid #9A9A8D;
				border-bottom: 1px solid #9A9A8D;
				background-color:#FFF;
			}
			.caption {
				z-index: 10;
				margin-left: 750px;
				background:none;
				h4 {
					padding: 100px 0 0;
					text-align:left;

					font-size: 1.6em;
					line-height: 130%;
					font-style: italic;

					a {
						color: #fff;
						padding: 2px 0;

						&:hover {
							text-decoration: none;
							border-bottom: 1px dotted $white;
						}
					}
				}
			}
		}

		.carousel-control {
			z-index: 99;
			top: 37px;
			left: 5px;
			width: 32px;
			height: 32px;
			border: none;
			background: none;
			@include border-radius(0px);

			&.right {
				left: auto;
				right: 5px;
			}

			i {
				width: 32px;
				height: 32px;
				margin: 0;
			}
		}

		.carousel-switch {
			width: 620px;
			margin: 10px 0 0 126px;
		}
	}
}