.tb-module.tshop-um.tshop-um-fw-nb01-01
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.brand{zhref} Angle
        %ul.nav
          :php
            / foreach( $shopManager->getShopPageLinks() as $mastnav ) {
              / echo ($mastnav->highLight == 1) ? '<li><a href="' . $mastnav->href . '" class="active">' . $mastnav->text .'</a></li>' . "\n" : '<li><a href="' . $mastnav->href . '">' . $mastnav->text .'</a></li>' . "\n";}
/ /.tshop-um-fw-nb01-01