.feature {
  .carousel {
    position: relative;

    .expose {
      width: 924px;
      height: 420px;
    }

    .switch {
      position: absolute;
      right: 20px;
      top: -25px;
      list-style:none;
      @include center-block;

      li {
        display: inline-block;
        @include hide-text;
        @include border-radius(20px);
        margin-left: 8px;
        height: 12px;
        width: 12px;
        cursor: pointer;
      }
    }

    .item {
      position: relative;
      text-align: center;
      height: 420px;

      ol {
        text-align: left;
        margin: 0 0 8px 0;
        padding: 0 0 0 25px;
        list-style-type: decimal;
        li {
          margin: 5px 8px 2px 5px;
          padding: 0;
        }
      }

      ul {
        text-align: left;
        margin: 0 0 0 2px;
        padding: 0;
        list-style-type: none;
        li {
          margin: 0;
          padding: 2px 2px 5px 2px;
        }
      }

      .lb {
        position: absolute;
        left: 20px;
        bottom: 20px;
      }
      .lt {
        position: absolute;
        left: 20px;
        top: 20px;
      }
      .rb {
        position: absolute;
        right: 20px;
        bottom: 20px;
      }
      .rt {
        position: absolute;
        right: 20px;
        top: 20px;
      }
//      .center {
//        position: absolute;
//        bottom: 20px;
////        @include center-block;
////        width: 400px;
//      }
    }

  }
}
