---
module:
  id: tshop-um-fw-ss01-01
  name: slideshow
  thumbnail: assets/images/fw-ss01-01.png
  description: FW-SS01-01
  requiredCache: true
  supportedWidth: 950
  theme: default

themes:
  - name: default

group:
  - title: item slideshow
    description: item slideshow
    section:
      - title: items select
        folded: false
        description: items select
        param:
          - name: item
            description: item
            label: item
            formType: itemForm
            ptype: item
            value: "2,5,15,13"
            readonly: false
            disabled: false
            localImage: false
            localImageSplit:
      - title: view config
        folded: true
        param:
          - name: effect
            label: effect
            formType: select
            ptype: text
            value:
            option:
              - value: fade
              - value: scrolly
              - value: scrollx
              - value: none

---
= xml_module(@item)