.tb-module.tshop-um.tshop-um-fw-ss01-01
	.J_TWidget.carousel.slide{carousel}
		/ Carousel items
		.carousel-outer
			.carousel-inner
				.carousel-items
					:php
						$ids = explode(',', $_MODULE['item']);
						foreach ($ids as $id) {
							$item = $itemManager->queryById($id);
							$itemUrl = $uriManager->detailURI($item);
							$itemTitle = $item->title;
							$itemPrice = $item->price;
							$itemCate = $item->itemCategoryId;
							$itemPic = $item->getPicUrl(620);
							$itemSold = $item->soldCount;
					.item
						%img{psrc("$itemPic"), width: "620", height: "320"}
						.caption
							%h4
								%a{phref("$itemUrl")}= p("$itemTitle")
							%p
								=p("$itemPrice")
								&amp;
								=p("$itemSold")
					:php
						}
		/ Carousel nav
		%a.carousel-control.left
			%i.carousel-arrow-left &lsaquo;
		%a.carousel-control.right
			%i.carousel-arrow-right &rsaquo;
/ /.tshop-um-fw-ss01-01