.tb-module.tshop-um.tshop-um-fw-ss01-01
	.J_TWidget.carousel.slide{carousel}
		/ Carousel nav
		%a.carousel-control.left &lsaquo;
		%a.carousel-control.right &rsaquo;
		/ Carousel items
		.carousel-inner
			:php
				$ids = explode(',', $_MODULE['item']);
				foreach ($ids as $id) {
					$item = $itemManager->queryById($id);
					$itemUrl = $uriManager->detailURI($item);
					$itemTitle = $item->title;
					$itemPrice = $item->price;
					$itemCate = $item->itemCategoryId;
					$itemPic = $item->getPicUrl(620);
					$itemSold = $item->soldCount;
			.item
				.img
					%img{psrc("$itemPic"), width: "620", height: "320"}
				.caption
					%h3
						%a{phref("$itemUrl")}= p("$itemTitle")
					%p
						=p("$itemPrice")
						&amp;
						=p("$itemSold")
			:php
				}