.tb-module.tshop-um.tshop-um-fw-ss01-01
  .J_TWidget.carousel.headslide{carousel(content="slideshow", nav="slide-nav")}
    / Carousel items
    .slideshow
      :php
        $colors = explode(',', $_MODULE['colors']);
        $length = count($colors)-1;
        $ids = explode(',', $_MODULE['item']);
        foreach ($ids as $id) {
          $item = $itemManager->queryById($id);
          $itemUrl = $uriManager->detailURI($item);
          $itemTitle = $item->title;
          $itemPrice = $item->price;
          $itemCate = $item->itemCategoryId;
          $itemPic = $item->getPicUrl(620);
          $itemSold = $item->soldCount;
      .item{rbgc}
        .caption
          %h4
            %a{phref("$itemUrl")}= p("$itemTitle")
          %p
            =p("$itemPrice")
            =p("$itemSold")
        %img{psrc("$itemPic"), width: "620", height: "320"}
      :php
        }
    / Carousel switch
    %a.slide-switch.left
      %i.arrow-left &lsaquo;
    %a.slide-switch.right
      %i.arrow-right &rsaquo;
/ /.tshop-um-fw-ss01-01