/
  Browsing
  ============================================================================
.search
  .container
    %h2 search:
    %ul.nav
      %li.span4.offset4
        %a.dropdown-toggle(href="#") all items
        .dropdown.navbar
          .navbar-inner.box.dark
            .container
              %h2 search

/
  Marketing
  ============================================================================
.marketing
  %ul.thumbnails
    - (1...10).each do
      %li.span3
        .thumbnail.box.light.p
          %a(href="#")
            %img(src="http://placehold.it/204x200")
          %h4 name
          %span.label.label-warning info

/ /marketing