@import "cones";
@import "widgets/navbar";
// @import sprites
.tshop-um-fw-hn01-01 {
  .headnav {
    @include pie-clearfix;
    @include navbar;
    max-width: 950px;

    .logo {
      @include logo($logoHeight: 48px);
    }

    .nav {
      @include nav($logoHeight: 48px);
    }

  }
  
  .dropdown-menu {
    position:absolute;
    left:-9999px;
    top:-9999px;
    background-color:#fff;
    border: 1px solid #ccc;
  }
}