@import "cones";
@import "widgets/navbar";
// @import sprites
.tshop-um-fw-hn01-01 {
  .headnav {
    @include pie-clearfix;
//    margin: 0 20px;
    margin: 20px;
    max-width: 950px;
    @include navbar;
//    height: 70px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;

    .logo {
      @include logo;
    }

    .nav {
      @include nav;
    }

  }
  
  .dropdown {
    display:none;
  }
}