#content {
  background-image:url(/angle/assets/images/custom_bg.png) !important;
  background-repeat:repeat !important;
  background-position:0 null !important;
}

#hd {
  background-image:url(/angle/assets/images/custom_bg.png) !important;
  background-repeat:repeat !important;
  background-position:0 null !important;
}