.skin-box.tb-module.tshop-pbsm.tshop-pbsm-shop-nav-ch
  %s.skin-box-tp
    %b
  .skin-box-bd
    .all-cats.popup-container
      .all-cats-trigger.popup-trigger
        %a.link{:href => "http://ceshi151.taobao.com/category.htm?search=y", :title => "所有宝贝"}
          %span.title
            所有分类
          %i.popup-icon
      .popup-content.all-cats-popup
        .popup-inner
          %ul.J_TAllCatsTree.cats-tree
            %li.cat.fst-cat
              %h4.cat-hd.fst-cat-hd
                %i.cat-icon.fst-cat-icon
                %a.cat-name.fst-cat-name{:href => "http://ceshi151.taobao.com/category.htm?search=y", :title => "所有宝贝"} 所有宝贝
              .snd-pop
                .snd-pop-inner
                  %ul.fst-cat-bd
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.by-label.by-sale.snd-cat-name{:href => "http://ceshi151.taobao.com/category.htm?search=y&orderType=hotsell_desc"} 按销量
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.by-label.by-new.snd-cat-name{:href => "http://ceshi151.taobao.com/category.htm?search=y&orderType=newOn_desc"} 按新品
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.by-label.by-price.snd-cat-name{:href => "http://ceshi151.taobao.com/category.htm?search=y&orderType=price_asc"} 按价格
            %li.cat.fst-cat
              %h4.cat-hd.fst-cat-hd
                %i.cat-icon.fst-cat-icon.active-trigger
                %a.cat-name.fst-cat-name{:href => "http://ceshi151.taobao.com/category-527074371.htm?search=y&catName=%B2%E2%CA%D4%B1%A6%B1%B4%B7%D6%C0%E0%D2%B3%B2%E2%CA%D4%B1%A6%B1%B4%B7%D6%C0%E0%D2%B3%B2%E2%CA%D4%B1%A6%B1%B4%B7%D6%C0%E0"} 测试宝贝分类页测试宝贝分类页测试宝贝分类
              .snd-pop
                .snd-pop-inner
                  %ul.fst-cat-bd
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.cat-name.snd-cat-name{:href => "http://ceshi151.taobao.com/category-527753703.htm?search=y&parentCatId=527074371&catName=%A1%A3%A1%A3"}
                          。。
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.cat-name.snd-cat-name{:href => "http://ceshi151.taobao.com/category-527763371.htm?search=y&parentCatId=527074371&catName=213"}
                          213
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.cat-name.snd-cat-name{:href => "http://ceshi151.taobao.com/category-527763372.htm?search=y&parentCatId=527074371&catName=23456"}
                          23456
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.cat-name.snd-cat-name{:href => "http://ceshi151.taobao.com/category-527763373.htm?search=y&parentCatId=527074371&catName=reywe"}
                          reywe
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.cat-name.snd-cat-name{:href => "http://ceshi151.taobao.com/category-527763374.htm?search=y&parentCatId=527074371&catName=fhdsn"}
                          fhdsn
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.cat-name.snd-cat-name{:href => "http://ceshi151.taobao.com/category-527763375.htm?search=y&parentCatId=527074371&catName=sdfhdfs"}
                          sdfhdfs
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.cat-name.snd-cat-name{:href => "http://ceshi151.taobao.com/category-527763376.htm?search=y&parentCatId=527074371&catName=5474hdf"}
                          5474hdf
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.cat-name.snd-cat-name{:href => "http://ceshi151.taobao.com/category-527763377.htm?search=y&parentCatId=527074371&catName=fdhsy34"}
                          fdhsy34
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.cat-name.snd-cat-name{:href => "http://ceshi151.taobao.com/category-527763378.htm?search=y&parentCatId=527074371&catName=dfhsdsfy346723"}
                          dfhsdsfy346723
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.cat-name.snd-cat-name{:href => "http://ceshi151.taobao.com/category-527763379.htm?search=y&parentCatId=527074371&catName=rsehre3"}
                          rsehre3
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.cat-name.snd-cat-name{:href => "http://ceshi151.taobao.com/category-527763380.htm?search=y&parentCatId=527074371&catName=357erhfd"}
                          357erhfd
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.cat-name.snd-cat-name{:href => "http://ceshi151.taobao.com/category-527763381.htm?search=y&parentCatId=527074371&catName=246yrdfg"}
                          246yrdfg
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.cat-name.snd-cat-name{:href => "http://ceshi151.taobao.com/category-527763382.htm?search=y&parentCatId=527074371&catName=reu+564784"}
                          reu 564784
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.cat-name.snd-cat-name{:href => "http://ceshi151.taobao.com/category-527763383.htm?search=y&parentCatId=527074371&catName=r734we"}
                          r734we
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.cat-name.snd-cat-name{:href => "http://ceshi151.taobao.com/category-527891892.htm?search=y&parentCatId=527074371&catName=%B0%A2%B5%C0%B7%F2%B0%AE%B5%C4"}
                          阿道夫爱的
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.cat-name.snd-cat-name{:href => "http://ceshi151.taobao.com/category-527891893.htm?search=y&parentCatId=527074371&catName=%B0%A2%B5%C0%B7%F2%B0%A2%B5%C0%B7%F2%B0%A1%B0%A2%B5%C0%B7%F2"}
                          阿道夫阿道夫啊阿道夫
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.cat-name.snd-cat-name{:href => "http://ceshi151.taobao.com/category-527891894.htm?search=y&parentCatId=527074371&catName=%B6%F8%C7%D2qwerTY%B0%A2%CA%BF%B4%F3%B7%F2%B0%A2%CA%BF%B4%F3%B7%F2%B0%A2%CA%BF%B4%F3%B7%F2"}
                          而且qwerTY阿士大夫阿士大夫阿士大夫
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.cat-name.snd-cat-name{:href => "http://ceshi151.taobao.com/category-527891895.htm?search=y&parentCatId=527074371&catName=%B0%A2%B5%C0%B7%F2%B0%B2%B5%C2%C9%AD%B7%C7%B0%B2%B5%C2%C9%AD%B7%C7"}
                          阿道夫安德森非安德森非
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.cat-name.snd-cat-name{:href => "http://ceshi151.taobao.com/category-527891896.htm?search=y&parentCatId=527074371&catName=%B0%A2%B5%C0%B7%F2"}
                          阿道夫
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.cat-name.snd-cat-name{:href => "http://ceshi151.taobao.com/category-527891897.htm?search=y&parentCatId=527074371&catName=23%C8%CB"}
                          23人
            %li.cat.fst-cat
              %h4.cat-hd.fst-cat-hd
                %i.cat-icon.fst-cat-icon.active-trigger
                %a.cat-name.fst-cat-name{:href => "http://ceshi151.taobao.com/category-527753049.htm?search=y&catName=%BD%F0%B2%D3%B2%D3%B5%C4"} 金灿灿的
            %li.cat.fst-cat
              %h4.cat-hd.fst-cat-hd
                %i.cat-icon.fst-cat-icon.active-trigger
                %a.cat-name.fst-cat-name{:href => "http://ceshi151.taobao.com/category-527858066.htm?search=y&catName=fenlei%3B%3B%A3%BB"} fenlei;;；
            %li.cat.fst-cat
              %h4.cat-hd.fst-cat-hd
                %i.cat-icon.fst-cat-icon.active-trigger
                %a.cat-name.fst-cat-name{:href => "http://ceshi151.taobao.com/category-527754488.htm?search=y&catName=435435435"} 435435435
            %li.cat.fst-cat
              %h4.cat-hd.fst-cat-hd
                %i.cat-icon.fst-cat-icon.active-trigger
                %a.cat-name.fst-cat-name{:href => "http://ceshi151.taobao.com/category-528000253.htm?search=y&catName=%C4%B0%B6%F9%B2%E2%CA%D4"} 陌儿测试
            %li.cat.fst-cat
              %h4.cat-hd.fst-cat-hd
                %i.cat-icon.fst-cat-icon.active-trigger
                %a.cat-name.fst-cat-name{:href => "http://ceshi151.taobao.com/category-527855026-88850.htm?search=y&catName=%B5%D8%B7%BD"} 地方
            %li.cat.fst-cat
              %h4.cat-hd.fst-cat-hd
                %i.cat-icon.fst-cat-icon.active-trigger
                %a.cat-name.fst-cat-name{:href => "http://ceshi151.taobao.com/category-527740680.htm?search=y&catName=%B2%E2%CA%D4%B1%A6%B1%B4%B7%D6%C0%E0%D2%B3"} 测试宝贝分类页
              .snd-pop
                .snd-pop-inner
                  %ul.fst-cat-bd
                    %li.cat.snd-cat
                      %h4.cat-hd.snd-cat-hd
                        %i.cat-icon.snd-cat-icon
                        %a.cat-name.snd-cat-name{:href => "http://ceshi151.taobao.com/category-527774573.htm?search=y&parentCatId=527740680&catName=%B2%E2%CA%D4222"}
                          测试222
    %ul.menu-list
      %li.menu{"data-page-id" => "89051"}
        %a.link{:href => "http://ceshi151.taobao.com/index.htm", :title => "首页"}
          %span.title 首页
      %li.menu.popup-container{"data-cat-id" => "527074371"}
        %a.link.popup-trigger{:href => "http://ceshi151.taobao.com/category-527074371.htm?search=y&catName=%B2%E2%CA%D4%B1%A6%B1%B4%B7%D6%C0%E0%D2%B3%B2%E2%CA%D4%B1%A6%B1%B4%B7%D6%C0%E0%D2%B3%B2%E2%CA%D4%B1%A6%B1%B4%B7%D6%C0%E0", :title => "测试宝贝分类页测试宝贝分类页测试宝贝分类"}
          %span.title 测试宝贝分类页测试宝贝分类页测试宝贝分类
          %i.popup-icon.cat-popup-i
        .popup-content
          %ul.menu-popup-cats
            %li.sub-cat
              %a.cat-name{:href => "http://ceshi151.taobao.com/category-527753703.htm?search=y&parentCatId=527074371&catName=%A1%A3%A1%A3", :title => "。。"} 。。
            %li.sub-cat
              %a.cat-name{:href => "http://ceshi151.taobao.com/category-527763371.htm?search=y&parentCatId=527074371&catName=213", :title => "213"} 213
            %li.sub-cat
              %a.cat-name{:href => "http://ceshi151.taobao.com/category-527763372.htm?search=y&parentCatId=527074371&catName=23456", :title => "23456"} 23456
            %li.sub-cat
              %a.cat-name{:href => "http://ceshi151.taobao.com/category-527763373.htm?search=y&parentCatId=527074371&catName=reywe", :title => "reywe"} reywe
            %li.sub-cat
              %a.cat-name{:href => "http://ceshi151.taobao.com/category-527763374.htm?search=y&parentCatId=527074371&catName=fhdsn", :title => "fhdsn"} fhdsn
            %li.sub-cat
              %a.cat-name{:href => "http://ceshi151.taobao.com/category-527763375.htm?search=y&parentCatId=527074371&catName=sdfhdfs", :title => "sdfhdfs"} sdfhdfs
            %li.sub-cat
              %a.cat-name{:href => "http://ceshi151.taobao.com/category-527763376.htm?search=y&parentCatId=527074371&catName=5474hdf", :title => "5474hdf"} 5474hdf
            %li.sub-cat
              %a.cat-name{:href => "http://ceshi151.taobao.com/category-527763377.htm?search=y&parentCatId=527074371&catName=fdhsy34", :title => "fdhsy34"} fdhsy34
            %li.sub-cat
              %a.cat-name{:href => "http://ceshi151.taobao.com/category-527763378.htm?search=y&parentCatId=527074371&catName=dfhsdsfy346723", :title => "dfhsdsfy346723"} dfhsdsfy346723
            %li.sub-cat
              %a.cat-name{:href => "http://ceshi151.taobao.com/category-527763379.htm?search=y&parentCatId=527074371&catName=rsehre3", :title => "rsehre3"} rsehre3
            %li.sub-cat
              %a.cat-name{:href => "http://ceshi151.taobao.com/category-527763380.htm?search=y&parentCatId=527074371&catName=357erhfd", :title => "357erhfd"} 357erhfd
            %li.sub-cat
              %a.cat-name{:href => "http://ceshi151.taobao.com/category-527763381.htm?search=y&parentCatId=527074371&catName=246yrdfg", :title => "246yrdfg"} 246yrdfg
            %li.sub-cat
              %a.cat-name{:href => "http://ceshi151.taobao.com/category-527763382.htm?search=y&parentCatId=527074371&catName=reu+564784", :title => "reu 564784"} reu 564784
            %li.sub-cat
              %a.cat-name{:href => "http://ceshi151.taobao.com/category-527763383.htm?search=y&parentCatId=527074371&catName=r734we", :title => "r734we"} r734we
            %li.sub-cat
              %a.cat-name{:href => "http://ceshi151.taobao.com/category-527891892.htm?search=y&parentCatId=527074371&catName=%B0%A2%B5%C0%B7%F2%B0%AE%B5%C4", :title => "阿道夫爱的"} 阿道夫爱的
            %li.sub-cat
              %a.cat-name{:href => "http://ceshi151.taobao.com/category-527891893.htm?search=y&parentCatId=527074371&catName=%B0%A2%B5%C0%B7%F2%B0%A2%B5%C0%B7%F2%B0%A1%B0%A2%B5%C0%B7%F2", :title => "阿道夫阿道夫啊阿道夫"} 阿道夫阿道夫啊阿道夫
            %li.sub-cat
              %a.cat-name{:href => "http://ceshi151.taobao.com/category-527891894.htm?search=y&parentCatId=527074371&catName=%B6%F8%C7%D2qwerTY%B0%A2%CA%BF%B4%F3%B7%F2%B0%A2%CA%BF%B4%F3%B7%F2%B0%A2%CA%BF%B4%F3%B7%F2", :title => "而且qwerTY阿士大夫阿士大夫阿士大夫"} 而且qwerTY阿士大夫阿士大夫阿士大夫
            %li.sub-cat
              %a.cat-name{:href => "http://ceshi151.taobao.com/category-527891895.htm?search=y&parentCatId=527074371&catName=%B0%A2%B5%C0%B7%F2%B0%B2%B5%C2%C9%AD%B7%C7%B0%B2%B5%C2%C9%AD%B7%C7", :title => "阿道夫安德森非安德森非"} 阿道夫安德森非安德森非
            %li.sub-cat
              %a.cat-name{:href => "http://ceshi151.taobao.com/category-527891896.htm?search=y&parentCatId=527074371&catName=%B0%A2%B5%C0%B7%F2", :title => "阿道夫"} 阿道夫
            %li.sub-cat
              %a.cat-name{:href => "http://ceshi151.taobao.com/category-527891897.htm?search=y&parentCatId=527074371&catName=23%C8%CB", :title => "23人"} 23人
      %li.menu.popup-container{"data-cat-id" => "527740680"}
        %a.link.popup-trigger{:href => "http://ceshi151.taobao.com/category-527740680.htm?search=y&catName=%B2%E2%CA%D4%B1%A6%B1%B4%B7%D6%C0%E0%D2%B3", :title => "测试宝贝分类页"}
          %span.title 测试宝贝分类页
          %i.popup-icon.cat-popup-i
        .popup-content
          %ul.menu-popup-cats
            %li.sub-cat
              %a.cat-name{:href => "http://ceshi151.taobao.com/category-527774573.htm?search=y&parentCatId=527740680&catName=%B2%E2%CA%D4222", :title => "测试222"} 测试222
      %li.menu{"data-link-id" => "6221"}
        %a.link{:href => "http://www.taobao.com", :target => "_blank", :title => "detail测试"}
          %span.title detail测试
      %li.menu{"data-cat-id" => "528000253"}
        %a.link{:href => "http://ceshi151.taobao.com/category-528000253.htm?search=y&catName=%C4%B0%B6%F9%B2%E2%CA%D4", :title => "陌儿测试"}
          %span.title 陌儿测试
  %s.skin-box-bt
    %b
  :javascript
    TShop.ModUtil.initMod(document.getElementById("shop251423"), 1);